body {
  display: block;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  font-family: arial;
}


h1, h2, h3, h4, h5, h6, p {
  font-family: arial;
}

.br {
  border-radius: 0.5em;
}

.lieanerBackground {
  background: linear-gradient(#1D0F3A, #373969);
}

.bs {
  box-shadow: 0 0 1em #1D0F3A;
}

/* ---------- Line ---------- */

.line {
  height: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.innerLine {
  width: 85vw;
}

/* ---------- HEADER ---------- */
header {
  margin-top: 0.5em;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.logo {
  margin: 0.5em;
}

.navBar a {
  color: #ffef13;
  text-decoration: none;
  padding: 14px 20px;
}

.navBar a:hover {
 text-decoration: underline #ffef13;
}

/* ---------- MAIN IMAGE(HEADER IMAGE) ---------- */

/* EUA main image*/
.euaImage {
  margin-top: 1em;
  width: 95vw;
  height: 80vh;
}

#headerContainer {
  position: relative;
  text-align: center;
  color: white;
}


#headerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 5px #1D0F3A;
  font-size: 1em;
}

#headerContainer:hover .euaImage {
  opacity: 0.9;
}

#headerContainer:hover #headerText {
  display: none;
}

#applyNow {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.applyButton {
  background-color: #DCDCDC;
  text-decoration: none;
  border: 1px solid #1D0F3A;
  color: #1D0F3A;
  padding: 2em;
  cursor: pointer;
}

.applyButton:hover {
  box-shadow: 0 0 2em #1D0F3A;
}

#headerContainer:hover #applyNow {
  opacity: 0.9;
}

/* ---------- ABOUT US ---------- */

.aboutUs {
  opacity: 1;
  animation: fade 2s ease;
  color: #404040;
}

.aboutUsSecondSection {
  opacity: 1;
  animation: fade 2s ease;
  color: #404040;
}

@keyframes fade {
  0%{ opacity: 0 }
  100% { opacity: 1 }
}

#aboutUsSection {
  margin-top: 0.5em;
}

#aboutUsSection h2{
  text-align: center;
  font-size: 2em;
  color: #1D0F3A;
  margin-top: 1em; 
}

.sectionHeader {
  text-align: right;
  font-size: 1.5em;
  color: #1D0F3A;
}

.aboutUs {
  display: flex;
  justify-content: space-between;
}

.miniImage {
  width: 33vw;
  height: 40vh;
}

.aboutUsText {
  margin-left: 1em;
  direction:rtl;
  text-align:justify;
  line-height: 1.7em;
  margin-bottom: 1em; 
}

.paragraphSpace {
  visibility: hidden;
}

.list {
  text-align: right;
  margin-bottom: 1.5em;
  color: #404040;
  font-family: arial;
}

/* ---------- FOOTER ---------- */

.footer {
  margin-top: 3em;
}

#footerFirstPart {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footerList {
  color: #DCDCDC;
  text-align: right;
  margin: 0.8em;
}

.footerListLink {
  display: block; 
  text-align: left;
  cursor: pointer;
}

.footerListLink:hover {
  color: #ffef13;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMediaLogo {
  margin: 1em;
}

.socialMediaLogo:hover {
  box-shadow: 0 0 1em #ffef13;
  cursor: pointer;
}

/* ---------- DOCUMENTS ---------- */

.documentItemsMenue {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  padding-top: 1em;
}
.documentItems {
  color: #1D0F3A;
  cursor: pointer;
  padding: 1em;
  font-size: 1em;
}

.documentItems:hover {
  font-weight: bold;
}



.documentsWhiteSpace {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 85vw;
}

.documentsContent h3 {
  text-align: right;
  color: #1D0F3A;
  font-size: 1.3em;
}

.documentsAttentionWhiteSpace h2 {
  text-align: center;
  font-family: airal;
  font-size: 1.5em;
  color: #330701;
}

.documentsH {
  font-size: 1.3em;
  text-align: right;
  color: #1D0F3A;
}



.dot {
    height: 8px;
    width: 8px;
    background-color: #330701;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.5em;
}

.blueDot {
  background-color: #1D0F3A;
}

/* ----------  APPLY PAGE ---------- */

.applyInnerPage { 
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.formHeader {
  text-align: center;
  color: #1D0F3A;
  font-family: arial;
  font-size: 2em;
}

.applySubmit {
  display: block;
  padding: 10px;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1m;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-family: Raleway;
  background-color: #1D0F3A;
  border: #1D0F3A;
  color: #ffef13;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  cursor: pointer;
}

.applySubmit:hover {
 box-shadow: 0 0 0.3em#1D0F3A;
}

.applyInput {
  display: block;
  padding: 10px;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1m;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  border-radius: 0.5em;
}

.applyInput:focus {
  outline: none;
  border-radius: 0.5em;
  box-shadow: 0 0 0.3em #1D0F3A;
}

.applyLabel {
  font-family: arial;
  color: #1D0F3A;
}

.checkBoxcontainer {
  display: inline-block;
  position: relative;
  padding-left: 1.3em;
  margin-bottom: 0.5em;
  cursor: pointer;
  font-size: 1.5em;
  color: #1D0F3A;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkBoxcontainer input {
  visibility: hidden;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 0.3em; 
}

/* On mouse-over, add a grey background color */
.checkBoxcontainer:hover input ~ .checkmark {
  background-color: #aaaaaa;
}

/* When the checkbox is checked, add a blue background */
.checkBoxcontainer input:checked ~ .checkmark {
  background-color: #1D0F3A;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBoxcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBoxcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #ffef13;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 700px) {
  .aboutUs {   
    flex-direction: column;
  }

  #footerFirstPart {
    flex-direction: column;
  }

  .miniImage {
    width: 95vw;
  }

  .Dcontainer:hover .initailBox {
    height: 80vh;
  }

  .slidesInWrapper {
    grid-template-columns: 1fr;
  }

  .documentItemsMenue {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}