body {
  display: block;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
  font-family: arial;
}


h1, h2, h3, h4, h5, h6, p {
  font-family: arial;
}

.br {
  border-radius: 0.5em;
}

.lieanerBackground {
  background: linear-gradient(#1D0F3A, #373969);
}

.bs {
  box-shadow: 0 0 1em #1D0F3A;
}

.animatedText {
  opacity: 1;
  animation: Fade 2s ease;
  color: #404040;
}

@keyframes Fade {
  0%{ opacity: 0 }
  100% { opacity: 1 }
}

figure { 
  display: inline-block;
  margin: 0;
}
/* ---------- Line ---------- */

.line {
  height: 1px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.innerLine {
  width: 85vw;
}

/* ---------- HEADER ---------- */
.navBar {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.navBar a {
  color: #ffef13;
  text-decoration: none;
  padding-right: 1em;
  padding-left: 1em; 
}

.navBar a:hover {
 text-decoration: underline #ffef13;
}

/* ---------- MAIN IMAGE(HEADER IMAGE) ---------- */

/* EUA main image*/
.euaImage {
  margin-top: 1em;
  width: 95vw;
  height: 80vh;
}

.headerContainer {
  position: relative;
  text-align: center;
  color: white;
}


.headerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 10px #330701;
  font-size: 2.5em;
}

.headerContainer:hover .euaImage {
  opacity: 0.9;
}

.headerContainer:hover .headerText {
  display: none;
}

#applyNow {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.applyButton {
  background-color: #DCDCDC;
  text-decoration: none;
  border: 1px solid #1D0F3A;
  color: #1D0F3A;
  padding: 2em;
  cursor: pointer;
}

.applyButton:hover {
  box-shadow: 0 0 2em #1D0F3A;
}

.headerContainer:hover #applyNow {
  opacity: 0.9;
}

/* ---------- ABOUT US ---------- */

.aboutUs {
  opacity: 1;
  animation: fade 2s ease;
  color: #404040;
}

.aboutUsSecondSection {
  opacity: 1;
  animation: fade 2s ease;
  color: #404040;
}

@keyframes fade {
  0%{ opacity: 0 }
  100% { opacity: 1 }
}

#aboutUsSection {
  margin-top: 0.5em;
}

#aboutUsSection h2{
  text-align: center;
  font-size: 2em;
  color: #1D0F3A;
  margin-top: 1em; 
}

.sectionHeader {
  text-align: right;
  font-size: 1.5em;
  color: #1D0F3A;
}

.aboutUs {
  display: flex;
  justify-content: space-between;
}

.miniImage {
  width: 33vw;
  height: 40vh;
}

.aboutUsText {
  margin-left: 1em;
  direction:rtl;
  text-align:justify;
  line-height: 1.7em;
  margin-bottom: 1em; 
}

.paragraphSpace {
  visibility: hidden;
}

.list {
  text-align: right;
  font-size: 1.1em;
  margin-bottom: 1.5em;
  color: #404040;
  font-family: arial;
}

/* ---------- FOOTER ---------- */

.footer {
  margin-top: 1em;
}

#footerFirstPart {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footerList {
  color: #DCDCDC;
  text-align: center;
  margin: 0.8em;
}

.footerListLink {
  display: block; 
  text-align: center;
  cursor: pointer;
}

.footerListLink:hover {
  color: #ffef13;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMediaLogo {
  margin: 1em;
}

.socialMediaLogo:hover {
  box-shadow: 0 0 1em #ffef13;
  cursor: pointer;
}

/* ---------- DOCUMENTS ---------- */

.documentItemsMenue {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  padding-top: 1em;
}
.documentItems {
  color: #1D0F3A;
  cursor: pointer;
  padding: 1em;
  font-size: 1.1em;
}

.documentItems:hover {
  font-weight: bold;
}

.attention {
  color: #330701;
  text-align: right;
  font-size: 1.3em;
  line-height: 2em; 
  font-weight: 300px;
}


.documentsWhiteSpace {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 85vw;
}

.documentsContentH1 {
  text-align: center;
  font-size: 2em;
  color: #1D0F3A;
}

.documentsAttentionWhiteSpace h2 {
  text-align: center;
  font-family: airal;
  font-size: 1.5em;
  color: #330701;
}

.documentsH {
  font-size: 1.3em;
  text-align: right;
  color: #1D0F3A;
}

.documentsRedH {
  font-size: 1.3em;
  text-align: right;
  color: #330701;
}



.dot {
    height: 8px;
    width: 8px;
    background-color: #330701;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.5em;
}

.blueDot {
  background-color: #1D0F3A;
}


/* ----------  APPLY PAGE ---------- */

.applyInnerPage { 
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.formHeader {
  text-align: center;
  color: #1D0F3A;
  font-family: arial;
  font-size: 2em;
}

.applySubmit {
  display: block;
  padding: 10px;
  width: 50vw;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.5em;
  background-color: #1D0F3A;
  border: #1D0F3A;
  color: #ffef13;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.5em;
  margin-top: 2em;
  margin-bottom: 2em;
  cursor: pointer;
}

.contactSubmit {
  width: auto;
  padding: 0.3em;
  margin-top: 0;
  margin-bottom: 0;
}

.applySubmit:hover {
 box-shadow: 0 0 0.3em#1D0F3A;
}

.contactSubmit:hover {
  box-shadow: 0 0 0.3em #ffef13 !important;
}

.applyInput {
  display: block;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  border-radius: 0.5em;
  width: 60vw;
}

.applyInput:focus {
  outline: none;
  border-radius: 0.5em;
  box-shadow: 0 0 0.3em #1D0F3A;
}

.applyLabel {
  font-family: arial;
  color: #1D0F3A;
  font-size: 1.5em;
}

.checkBoxcontainer {
  display: inline-block;
  position: relative;
  padding-left: 1.3em;
  margin-bottom: 0.5em;
  cursor: pointer;
  font-size: 1.5em;
  color: #1D0F3A;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkBoxcontainer input {
  visibility: hidden;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  border-radius: 0.3em; 
}

/* On mouse-over, add a grey background color */
.checkBoxcontainer:hover input ~ .checkmark {
  background-color: #aaaaaa;
}

/* When the checkbox is checked, add a blue background */
.checkBoxcontainer input:checked ~ .checkmark {
  background-color: #1D0F3A;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBoxcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBoxcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #ffef13;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

fieldset {
  border-radius: 0.5em;
  margin-top: 2em;
  margin-bottom: 2em;  
  border: 1px solid #aaaaaa;
}

/* ----------  LOGON SIGNUP ---------- */

.loginButton {
  background-color: #0B3E1C;
  color: white;
  width: 20vw;
  padding: 0.5em;
}

.signUpButton {
  background: #290117;
  color: white;
  width: 20vw;
  padding: 0.5em;
}

.buttonsContainer {
  display: flex;
  width: 55vw;
  margin-left: auto;
  margin-right: auto;
  font-family: arial;
}
/* ----------  MAJORS ---------- */

.majorContainer {
  margin-top: 1em;
}

.majorsH {
  text-align: center;
  color: #1D0F3A;
}

.accordion {
  font-family: arial;
  margin: 0.5em 0 0.5em 0;
  padding: 0.3em; 
  color: #1D0F3A;
  box-shadow: 0 0 0.3em #1D0F3A;
  background-color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: right;
  outline: none;
  font-size: 1.3em;
}

.accordionClicked {
  box-shadow: none;
  background-color: #eee;
  box-shadow: 0 0 0.3em #1D0F3A;
}

.accordion:hover {
  box-shadow: none;
  background-color: #eee;
  box-shadow: 0 0 0.3em #1D0F3A;
}

.majorCart {
  width: 25vw;
  line-height: 25vw;
  text-align: center;
  border-radius: 0.5em;
  color: white;
  background: linear-gradient(#1D0F3A, #7F719B);
}

/* ----------  SLIDE SHOW ---------- */

.sliderDot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.sliderDot:hover {
  background-color: #717171;
}

.sliderDot:active {
  background-color: #717171;
}

.sliderDotContainers {
  text-align: center;
  margin-top: 1em;
}

/* ----------  Contact Us ---------- */

.contactUs {
  background-color: #1D0F3A;
  padding: 0.5em;
  opacity: 0.9;
  position: fixed;
  right: 0;
  bottom: 0;
 
}

.close {
  font-size: 1.5em;
  background-color: #1D0F3A;
  color: #ffef13;
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
  padding: 0.3em;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: #1D0F3A;
  outline: none;
}

.close:hover {
  box-shadow: 0 0 1em #ffef13;
  border-radius: 50%;
}

.closed {
  display: none;
}

.contactText {
  color: white;
  text-align: right;
  font-size: 1em;
}

.help {
  font-size: 1.3em;
  text-align: center;
}

.contactButton {
  cursor: pointer;
  position: fixed;
  padding: 1px;
  right: 1em;
  bottom: 1em;
}

.contactButton:hover {
  box-shadow: 0 0 0.6em  #1D0F3A;
}

/* ----------  TUTIONANDDEADLINE ---------- */

.infoContainer {
  text-align: right; 
  font-weight: 300;
}

.infoTitle {
  font-size: 1.3em;
  color: #1D0F3A;
}

.infoDetails {
  margin-right: 80px;
  font-size: 1.1em;
  display: inline;
}

@media screen and (max-width: 700px) {
  .aboutUs {   
    flex-direction: column;
  }

  .euaImage {
    height: 60vh;
  }

  .buttonsContainer {
    flex-direction: column;
  }

  #footerFirstPart {
    flex-direction: column;
  }

  .miniImage {
    width: 95vw;
  }

  .Dcontainer:hover .initailBox {
    height: 80vh;
  }

  .slidesInWrapper {
    grid-template-columns: 1fr;
  }

  .documentItemsMenue {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
  }

  .navBar {
    flex-direction: row-reverse;
    line-height: 2em;
    justify-content: space-between;
    align-items: flex-end;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: right;
  }

  .headerText {
    font-size: 1.5em;
  }

  .documentsContentH1 {
    font-size: 1.3em;
  }
  

  #aboutUsSection h2{
    font-size: 1.5em; 
  }

  .dot, .blueDot, .miniImage {
    display: none;
  }


  .list {
    text-align: right;
    font-size: 1em;
  }

  .contactUs {
   width: 75vw;
  }

  .contactUs {
    width: 100%;
  }

  .accordion {
    font-size: 1.1em;
  }

  .contactUs {
    position: fixed;
    right: 0em;
    bottom: 0em;
    height: auto;
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
}